{
  "extends": "standard",
  "rules": {
    "comma-dangle": "off",
    "space-before-function-paren": "off",
    "indent": "off",
    "semi": "off"
  },
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "describe": "readonly"
  }
}
